MYSQL_ROOT_PASSWORD=CAMBIA_ESTA_PASSWORD
MYSQL_DATABASE=saludoax
MYSQL_USER=CAMBIA_ESTE_USUARIO
MYSQL_PASSWORD=CAMBIA_ESTA_PASSWORD

GMAIL_USER=tu_correo@gmail.com
GMAIL_PASS=tu_contrasena_de_aplicacion
